body, html {
  font-family: 'Suse', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.app-container {
  display: flex;
  justify-content: center;  
  align-items: center;      
  height: 100vh;            
}

.heading {
  color: white;                
  font-size: 1.5rem;           
  font-weight: bold;           
  text-align: center;          
  margin: 60px 0;
}
